In [14]:
import os
import pyarrow.parquet as pq
import pandas as pd

In [30]:
#sample raw data
raw_data = pq.read_pandas("Transportation Data/fhvhv_tripdata_2020-04.parquet") #reading parquet file
raw_data = raw_data.to_pandas()
raw_data.head()

,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag
0,HV0003,B02875,B02875,2020-04-01 00:02:45,2020-04-01 00:03:55,2020-04-01 00:06:47,2020-04-01 00:22:25,191,265,7.900,...,2.30,0.0,None,0.00,20.32,N,N,,N,N
1,HV0003,B02875,B02875,2020-04-01 00:54:32,2020-04-01 00:54:35,2020-04-01 00:55:46,2020-04-01 00:59:49,218,205,1.080,...,0.64,0.0,None,0.00,5.39,N,N,,N,N
2,HV0005,B02510,None,2020-04-01 00:08:04,NaT,2020-04-01 00:18:18,2020-04-01 00:27:19,160,198,2.152,...,0.74,0.0,None,0.00,6.91,N,N,N,N,N
3,HV0005,B02510,None,2020-04-01 00:25:11,NaT,2020-04-01 00:30:08,2020-04-01 00:45:58,198,258,4.266,...,1.32,0.0,None,3.32,12.69,N,N,N,N,N
4,HV0003,B02836,B02836,2020-03-31 23:57:08,2020-04-01 00:00:51,2020-04-01 00:01:42,2020-04-01 00:06:21,95,95,1.010,...,0.64,0.0,None,0.00,5.39,N,N,,N,N

In [17]:
raw_data.columns

Index(['hvfhs_license_num', 'dispatching_base_num', 'originating_base_num',
       'request_datetime', 'on_scene_datetime', 'pickup_datetime',
       'dropoff_datetime', 'PULocationID', 'DOLocationID', 'trip_miles',
       'trip_time', 'base_passenger_fare', 'tolls', 'bcf', 'sales_tax',
       'congestion_surcharge', 'airport_fee', 'tips', 'driver_pay',
       'shared_request_flag', 'shared_match_flag', 'access_a_ride_flag',
       'wav_request_flag', 'wav_match_flag'],
      dtype='object')

In [31]:
df = raw_data[['hvfhs_license_num', 'base_passenger_fare', 'tolls', 'sales_tax', 'congestion_surcharge', 'airport_fee', 'tips']]

In [32]:
df.head()

,hvfhs_license_num,base_passenger_fare,tolls,sales_tax,congestion_surcharge,airport_fee,tips
0,HV0003,25.91,0.0,2.30,0.0,None,0.00
1,HV0003,7.19,0.0,0.64,0.0,None,0.00
2,HV0005,8.38,0.0,0.74,0.0,None,0.00
3,HV0005,14.91,0.0,1.32,0.0,None,3.32
4,HV0003,7.19,0.0,0.64,0.0,None,0.00

In [33]:
df[df.isna().any(axis=1)]

,hvfhs_license_num,base_passenger_fare,tolls,sales_tax,congestion_surcharge,airport_fee,tips
0,HV0003,25.91,0.0,2.30,0.00,None,0.00
1,HV0003,7.19,0.0,0.64,0.00,None,0.00
2,HV0005,8.38,0.0,0.74,0.00,None,0.00
3,HV0005,14.91,0.0,1.32,0.00,None,3.32
4,HV0003,7.19,0.0,0.64,0.00,None,0.00
...,...,...,...,...,...,...,...
4312904,HV0005,12.15,0.0,1.08,0.00,None,0.00
4312905,HV0005,7.30,0.0,0.65,0.00,None,0.00
4312906,HV0005,7.30,0.0,0.65,0.00,None,0.00
4312907,HV0003,10.46,0.0,0.93,0.00,None,0.00
4312908,HV0003,22.74,0.0,2.02,2.75,None,0.00

In [34]:
df['total_fare']  = df[['base_passenger_fare', 'tolls', 'sales_tax', 'congestion_surcharge', 'airport_fee', 'tips']].fillna(0).sum(axis=1)
#df['total_fare'] = df['base_passenger_fare'] + df['tolls'] + df['sales_tax'] + df['congestion_surcharge'] + df['airport_fee'] + df['tips']

C:\Users\surfd\AppData\Local\Temp\ipykernel_8404\3142253652.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['total_fare']  = df[['base_passenger_fare', 'tolls', 'sales_tax', 'congestion_surcharge', 'airport_fee', 'tips']].fillna(0).sum(axis=1)
C:\Users\surfd\AppData\Local\Temp\ipykernel_8404\3142253652.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['total_fare']  = df[['base_passenger_fare', 'tolls', 'sales_tax', 'congestion_surcharge', 'airport_fee', 'tips']].fillna(0).sum(axis=1)

In [35]:
df.head()

,hvfhs_license_num,base_passenger_fare,tolls,sales_tax,congestion_surcharge,airport_fee,tips,total_fare
0,HV0003,25.91,0.0,2.30,0.0,None,0.00,28.21
1,HV0003,7.19,0.0,0.64,0.0,None,0.00,7.83
2,HV0005,8.38,0.0,0.74,0.0,None,0.00,9.12
3,HV0005,14.91,0.0,1.32,0.0,None,3.32,19.55
4,HV0003,7.19,0.0,0.64,0.0,None,0.00,7.83

In [36]:
df[df['total_fare'].isna()]

Empty DataFrame
Columns: [hvfhs_license_num, base_passenger_fare, tolls, sales_tax, congestion_surcharge, airport_fee, tips, total_fare]
Index: []

In [24]:
df = df[df['hvfhs_license_num'].isin(['HV0003', 'HV0005'])] #only keeping uber (HV003) and lyft (HV005) data
df['hvfhs_license_num'] = df['hvfhs_license_num'].replace({'HV0003': 'Uber', 'HV0005': 'Lyft'}) #renaming data

In [25]:
#finding the average total fare for uber and lyft
uber_avg_tfare = df[df['hvfhs_license_num'] == 'Uber']['total_fare'].mean()
lyft_avg_tfare = df[df['hvfhs_license_num'] == 'Lyft']['total_fare'].mean()

#finding the average base fare for uber and lyft
uber_avg_bfare = df[df['hvfhs_license_num'] == 'Uber']['base_passenger_fare'].mean()
lyft_avg_bfare = df[df['hvfhs_license_num'] == 'Lyft']['base_passenger_fare'].mean()

In [26]:
adf = pd.DataFrame({
    'Average Uber Total Fare': [uber_avg_tfare],
    'Average Uber Base Fare': [uber_avg_bfare],
    'Average Lyft Total Fare': [lyft_avg_tfare],
    'Average Lyft Base Fare': [lyft_avg_bfare]
})

In [29]:
adf.head()

,Average Uber Total Fare,Average Uber Base Fare,Average Lyft Total Fare,Average Lyft Base Fare
0,31.426943,25.759129,31.243477,25.344307

In [37]:
#this method creates a new data frame containing the average base fare, average total fare (sum of base fare, surcharge
# tips, tolls, salestax, and airport fees) for uber and lyft rides in a given month and year
def creating_clean_data(file_path):
  trips = pq.read_pandas(file_path) #reading parquet file
  trips = trips.to_pandas()  
  trips = trips[trips['hvfhs_license_num'].isin(['HV0003', 'HV0005'])] #only keeping uber (HV003) and lyft (HV005) data
  trips['hvfhs_license_num'] = trips['hvfhs_license_num'].replace({'HV0003': 'Uber', 'HV0005': 'Lyft'}) #renaming data

# adding total fare column (sum of base fare and additional charges), if none fill 0
  trips['total_fare']  = trips[['base_passenger_fare', 'tolls', 'sales_tax', 'congestion_surcharge', 'airport_fee', 'tips']].fillna(0).sum(axis=1)

#finding the average total fare for uber and lyft
  uber_avg_tfare = trips[trips['hvfhs_license_num'] == 'Uber']['total_fare'].mean()
  lyft_avg_tfare = trips[trips['hvfhs_license_num'] == 'Lyft']['total_fare'].mean()

#finding the average base fare for uber and lyft
  uber_avg_bfare = trips[trips['hvfhs_license_num'] == 'Uber']['base_passenger_fare'].mean()
  lyft_avg_bfare = trips[trips['hvfhs_license_num'] == 'Lyft']['base_passenger_fare'].mean()

#storing the month and year of the file
  month = trips['request_datetime'].iloc[0].month
  year= trips['request_datetime'].iloc[0].year

#creating new data frame containing the month, year, and average uber and lyft total fare and base fare for that month
  avg_fares_df = pd.DataFrame({
      'Month': [month],
      'Year': [year],
      'Average Uber Total Fare': [uber_avg_tfare],
      'Average Uber Base Fare': [uber_avg_bfare],
      'Average Lyft Total Fare': [lyft_avg_tfare],
      'Average Lyft Base Fare': [lyft_avg_bfare]
  })

  return avg_fares_df

#this method process all .parquet files in a directory and creates a new data frame 
# with the creating_clean_data information
def process_directory(directory_path):
  all_avg_fares = pd.DataFrame()  # Initialize an empty DataFrame to store results

  for filename in os.listdir(directory_path):
    if filename.endswith(".parquet"):
      file_path = os.path.join(directory_path, filename)
      try:
        avg_fares_df = creating_clean_data(file_path)
        all_avg_fares = pd.concat([all_avg_fares, avg_fares_df], ignore_index=True)
      except Exception as e:
        print(f"Error processing {filename}: {e}")

  return all_avg_fares

In [38]:
directory= "Transportation Data"
all_fares_df= process_directory(directory)
all_fares_df.to_csv('all_fares.csv', index=False)

C:\Users\surfd\AppData\Local\Temp\ipykernel_8404\715361073.py:10: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  trips['total_fare']  = trips[['base_passenger_fare', 'tolls', 'sales_tax', 'congestion_surcharge', 'airport_fee', 'tips']].fillna(0).sum(axis=1)
C:\Users\surfd\AppData\Local\Temp\ipykernel_8404\715361073.py:10: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  trips['total_fare']  = trips[['base_passenger_fare', 'tolls', 'sales_tax', 'congestion_surcharge', 'airport_fee', 'tips']].fillna(0).sum(axis=1)

In [7]:
#removed null values
all_fares_clean= all_fares_df.dropna()
all_fares_clean.head()

,Month,Year,Average Uber Total Fare,Average Uber Base Fare,Average Lyft Total Fare,Average Lyft Base Fare
0,2,2021,23.891282,19.209456,24.916026,19.209456
1,2,2024,30.003911,24.537868,28.991807,24.537868
2,9,2023,32.927748,26.916275,29.176778,26.916275
4,10,2019,21.653333,18.084945,74.210000,18.084945
5,6,2022,31.411499,25.491931,29.613316,25.491931

In [8]:
all_fares_clean.to_csv('all_fares_cleaned.csv', index=False)