# Initial Dataset Exploration

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('../data/all_fares_cleaned.csv')

In [5]:
print(df.shape)

(44, 6)

In [6]:
df.head()

,Month,Year,Average Uber Total Fare,Average Uber Base Fare,Average Lyft Total Fare,Average Lyft Base Fare
0,2,2021,23.891282,19.209456,24.916026,19.209456
1,2,2024,30.003911,24.537868,28.991807,24.537868
2,9,2023,32.927748,26.916275,29.176778,26.916275
3,10,2019,21.653333,18.084945,74.210000,18.084945
4,6,2022,31.411499,25.491931,29.613316,25.491931